.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    z-index: 0;
    background-color:#151416;

}
.notes__appbar{
    display: flex;
    align-items: center;
    background-color: $primary;
    color: #fff;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;


}

.notes__appbar2{
    display: none;
    align-items: center;
    background-color: $primary;
    color: #fff;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;


}
.notes__content{
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input{
    border: none;
    color:$dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    box-shadow: $primary 0px 2px 2px ;
    border-radius: 50%;
    background-color:#151416;
    color: #fff;

    &:focus{
        outline: none;
    }
}
.note__textarea{
    border: none;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
    background-color:#151416;
    color: #fff;

    &:focus{
        outline: none;
    }
}
.notes__image{
box-shadow: 5px 5px $dark-grey;
width: 150px;
}

 @media screen and (max-width:414px) {

    .notes__main-content{
    display: flex;
height: 100vh;
    z-index: 0;
}
    .note__textarea{
    border: none;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;

    &:focus{
        outline: none;
    }
}

.notes__image{
    width: 75px;
    box-shadow: 2px 2px $dark-grey;
}


.notes__title-input{

border-radius: 0%;
align-items: baseline;
padding:2vh;
display:flex ;
    font-size: 15px;
    word-wrap: break-word;


}

.notes__appbar2{
    display: flex;
    align-items: center;
    background-color:$dark-grey;
    color: #fff;
    padding: 20px 20px 18px 20px;
    justify-content: flex-end;
    


}
.notes__appbar{
    display: flex;
    align-items: center;
    background-color: $primary;
    color: #fff;
    padding: 20px 20px 18px 20px;
    justify-content: flex-end;
    


}

}


